.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 20px 0;

  @media (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.loader {
  margin: 0 auto;
  padding: 20px;
  color: $light-text-color;
  font-size: 36px;
}
